<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [28]:
#series with a default index
s1 = pd.Series([1,6,9,3,2])
print(s1)

print(f"values from series: {s1.array}")
print(f"index from series: {s1.index}" )

#series with a defined index
my_index=["a","b","c","d","e"]
s2 = pd.Series ([1,6,9,3,2] , index=my_index)
print(s2)
print(f" 'b' value from s2 is {s2['b']}")

# list of indicies
print(f" 'a','b','c' indicies from s2 is:\n{s2[['a','b','c']]} ")

#resetting the index in place
s2.index=["one","two","three","four","five"]
print(s2)

0    1
1    6
2    9
3    3
4    2
dtype: int64
values from series: <PandasArray>
[1, 6, 9, 3, 2]
Length: 5, dtype: int64
index from series: RangeIndex(start=0, stop=5, step=1)
a    1
b    6
c    9
d    3
e    2
dtype: int64
 'b' value from s2 is 6
 'a','b','c' indicies from s2 is:
a    1
b    6
c    9
dtype: int64
one      1
two      6
three    9
four     3
five     2
dtype: int64

In [16]:
#series behaves as a numpy structure with scalars
s3 = s2*2
print(s3)

a     2
b    12
c    18
d     6
e     4
dtype: int64

In [19]:
#initiated by dict 
my_dict = {"Dublin":"Ireland","London":"England","Paris":"France"}
s10 = pd.Series(my_dict)
print(s10)
print(f" The value for 'Dublin' is: {s10['Dublin']}")

Dublin    Ireland
London    England
Paris      France
dtype: object
 The value for 'Dublin' is: Ireland

In [23]:
#reording series created by dict using Series index.
defined_indx = ["Paris","Dublin","London", "Cardiff"]
s11 = pd.Series(my_dict,index=defined_indx)
print(f"reordered index:\n{s11}")

reordered index:
Paris       France
Dublin     Ireland
London     England
Cardiff        NaN
dtype: object

In [27]:
#checking for 'Missing' values
print(pd.isna(s11))
print(s11.isna())

Paris      False
Dublin     False
London     False
Cardiff     True
dtype: bool
Paris      False
Dublin     False
London     False
Cardiff     True
dtype: bool